<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>TransplantToolbox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

    <nav class="navbar sticky-top navbar-expand-sm justify-content-center" style="background-color: #003399;">
    <div class="nav" >
        <a class="navbar-brand text-white h1" href="{% url 'victor_home' %}"> TransplantToolbox  </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="nav nav-fill nav-pills">
                <li class="nav-item active">
                   <a class=" text-center nav-link text-white h5" href="{% url 'victor_home' %}"> Home </a> 
                 </li>
                 <li class="nav-item active">
                  <a class="nav-link text-white h5" href="{}"> UNOS Antigen Equivalents</a>
                </li>
                 <li class="nav-item active">
                  <a class="nav-link text-white h5" href="{}"> High Resolution Alleles </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-white h5" href="{% url 'glsvxm' %}"> Genotype List Strings</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-white h5" href="{% url 'macvxm' %}"> Multiple Allele Codes </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-white h5" href="{% url 'victor_license' %}"> License </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-white h5" href="http://www.transplanttoolbox.org/"> ALLAN</a>
                </li>
    </ul>
    </div>
    </nav>                    

<body> 
<div class="container text-center  pt-4 pb-4 mt-5">
    <h2 class="text-dark font-weight-bold">  VICTOR:  VIrtual CrossmaTch for mOleculaR typing data </h2> 
   </div> 
    <h2 class="container text-danger text-center font-weight-bold mt-5 mb-5"> UNOS Antigen Equivalents for Donor Typing </h2>
    
<div> 
    <p class="container jumbotron pt-4 pb-4 lead" > Enter Donor's HLA typing data as UNOS antigen equivalents in the first text area, enter Recepient's Unacceptable Antigens in the second text area and click on "SUBMIT" to run virtual cross match. </p>
    
    <form class="container text-center text-primary mt-5" action="{% url 'uagsvxm' %}" method="get">
      <h4 class=" text-danger font-weight-bold mb-2 mt-5"> Donor's UNOS Antigen Equivalents </h4>
       <textarea name = "userinput1" rows = "3" cols = "80" > A2 A26 C05 C01 B72 B27 DR12 DR1 DQ7 DQ5 Bw6 Bw4 </textarea> 
        <br />
      
    <!--<h4 class=" text-danger mt-5"> Select Broad/Detailed Race </h4>-->
    

                </select>
           
     <h4 class=" text-danger font-weight-bold mb-2 mt-5"> Candidate's Unacceptable Antigens </h4>
     <div> <textarea name = "userinput2" rows = "3" cols = "80" >A2 B15 B27 Bw4 DR2</textarea>   </div>       
  <input class="btn btn-danger btn-lg active mt-5" type="submit" value="SUBMIT"/> </div> 
  </div> 
     </div> 
    </form>
    <br>
    <br>
    <br>
    
</div>
<div class="jumbotron text-white mt-5 pt-2 pb-2" style="background-color: #003399;"> 
<h3 class="container text-center font-italic" > Contact Us </h3>
    <p class="container text-center font-italic"> For scientific and technical queries contact pathologygragertlab@tulane.edu.  </p>
     <br>
     <p class="container text-center font-weight-bold"> Prototype Tool for Research Use Only </p>
</div>     
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"  crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

</body>
</html>









    
 
