<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    
    <title>TransplantToolbox</title>
    <!-- <link rel="stylesheet" href="{% static "css/home.css" %}"/>  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    
	
<body>
  <div class="container jumbotron pt-4 pb-4 mt-5">
    <h2 class="text-success font-weight-bold">  Transplanttoolbox: Virtual Crossmatch </h2> 
    
   	
        <h4 class="text-dark mt-3"> Compute virtual crossmatch for molecular HLA typing.  </h4>
        
    </div>
  <br>
    <div class="container pb-4 mb-5" style="border:1px solid #255"> 
      <h3 class="container font-weight-bold mt-4 mb-5" > HLA Typing Data Input Formats (choose one): </h3>
        <div class="container mt-4"> 
            <div class="row">
            <div class="col-sm" > <h4> Genotype List Strings </h4> </div>
            
             </div>

  <br>

            <div class="row">
            <div class="col-sm" > <h4> Multiple Allele Codes </h4> </div>
            
            
          
          </div>
        
      </div>
    </div>
   

<div class="jumbotron text-white mt-5 pt-2 pb-2" style="background-color: #046A38;"> 
<h3 class="container text-center font-italic" > Contact Us </h3>
    <p class="container text-center font-italic"> For scientific and technical queries contact pathologygragertlab@tulane.edu.  </p>
     <br>

</div>
     <!--<div style="margin-left:50px;"></div> -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>    
</html>