<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>TransplantToolbox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

    <nav class="navbar sticky-top navbar-expand-sm justify-content-center" style="background-color: #003399;">
    <div class="nav" >
        <a class="navbar-brand text-white h1" href="http://www.transplanttoolbox.org/"> TransplantToolbox  </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="nav nav-fill nav-pills">
                <li class="nav-item active">
                   <a class=" text-center font-weight-bold nav-link text-white" href="{% url 'victor_home' %}"> Home </a> 
                 </li>
                 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Current UNOS Match Run Logic </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #003399"; href="{% url 'unosags' %}"> UNOS Antigen Equivalents</a>
                <div class="dropdown-divider text-danger"></div>
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #003399"; href="{% url 'highresallele' %}"> High Resolution Alleles</a> </div> </li>
                 

                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Proposed Algorithm for Interpreting Ambiguous HLA Typing </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #003399"; href="{% url 'proposeduags' %}"> UNOS Antigen Equivalents</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #003399"; href="{% url 'glsvxm' %}"> Genotype List Strings </a> 
                <div class="dropdown-divider"></div>
              <a class="dropdown-item text-white font-weight-bold" style="background-color: #003399"; href="{% url 'macvxm' %}"> Multiple Allele Codes </a></div> </li>
                 
                
                   <li class="nav-item active">
                <a class="nav-link text-white font-weight-bold" href="{% url 'victor_services' %}"> Web Services </a>
              
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-white font-weight-bold" href="{% url 'victor_license' %}"> License </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-white font-weight-bold" href="http://www.transplanttoolbox.org/allan/"> ALLAN</a>
                </li>
    </ul>
    </div>
    </nav>                     

<body> 
<div class="text-center  pt-1 pb-1">
    <h1 class="text-success jumbotron font-weight-bold">  VICTOR:  VIrtual CrossmaTch for mOleculaR typing data </h1> 
   </div> 
    <h2 class="container text-danger text-center font-weight-bold mt-5 mb-5"> Donor HLA Typing as Unambiguous High Resolution HLA Alleles</h2>
    
<div> 
    <p class="container jumbotron pt-4 pb-4 lead" > Enter Donor's HLA typing data as a list of HLA alleles. Alleles entered should be resolved to specific HLA protein field (2nd field) or fully resolved (full IMGT/HLA allele name). Protein expression specifying characters ("L", "N", "S", "Q") can be used. Characters that specify antigen recognition domain equivalents (“G”, “P”, “g") can also be used. HLA loci supported are A, B, C, DRB1, DQA1, DQB1, DRB3/4/5. Enter Candidate's Unacceptable Antigens in the second text area and click on "SUBMIT" to run Virtual Cross Match.</p>
    
    <form class="container text-center text-primary mt-5" action="{% url 'matchallele' %}" method="get">
      <h4 class=" text-danger font-weight-bold mb-3 mt-5"> Donor's HLA Typing as Alleles </h4>
       <textarea name = "userinput1" rows = "3" cols = "80" >A*03:01 A*24:02 B*07:02 B*41:01 C*07:02 C*17:01 DRB1*13:01 DRB1*15:01 DRB3*01:01 DRB5*01:01 DQB1*06:02 DQB1*06:03 </textarea> 
        <br />
      
    <!--<h4 class=" text-danger mt-5"> Select Broad/Detailed Race </h4>-->
    
          
     <h4 class=" text-danger font-weight-bold mb-3 mt-5"> Candidate's Unacceptable Antigens </h4>
     <div> <textarea name = "userinput2" rows = "3" cols = "80" >B18 B35 B39 B51 B53 B57 B58 B71 B75 B76 B77 B78 DR7 DR12 A*02:03 B*44:03 DRB1*09:01 DRB1*14:01 DRB3*01:01 DRB3*03:01 DQB1*05:01 </textarea>   </div>       
  <input class="btn btn-danger btn-lg active mt-5" type="submit" value="SUBMIT"/> </div> 
    </form>
    <br>
    <br>
    <br>
   </div> 
     </div>   
</div>
<div class="jumbotron text-white mt-5 pt-2 pb-2" style="background-color: #003399;"> 
<h3 class="container text-center font-italic" > Contact Us </h3>
     <h5 class="container text-center font-italic"> For scientific and technical queries contact pathologygragertlab@tulane.edu.  </h5>
     <br>
<h4 class="container text-center font-italic"> Cite VICTOR Tool</h4>
    <p class= "container text-center font-italic"> Manuscript under preparation </p>
     <p class="container text-center font-weight-bold"> Prototype Tool for Research Use Only </p>
</div>     
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"  crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

</body>
</html>